Maximum rows count in page = 3
BRINsize = 3
the record in pages of table is as following format : ClusteringKey,Attribute2,Attribute3,....
the record in pages of denseIndex is as following format : denseKey,page number in the main table,record number in the main table
the record in pages of BRINIndex is as following format : minimum value in dense page,maximum value in dense page,page number in dense
